* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: "Nanum Gothic", sans-serif;
  
}

* ::before , *::after{
       box-sizing: border-box; 
}

img,
picture {
  max-width: 100%;
}
